body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html,
body {
  height: 100%;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}

body #root {
  width: 100%;
  height: 100%;
}

.myscreen {
  background-color:aquamarine;
  width: 100%;
  height: 100%;

  background-size: cover;
  /*background-position: left top; */
  /*background-image: url(https://lh6.googleusercontent.com/bEULKlrA8w5aLfNTJUjIV3U0W4KDCSat95YL-KeEgcxh6BSyqWme4VPl00MkCj8eHyjzxIkOfPvTPLk8hOYYvGE=w16383);*/
  /* transform: translate3d(0px, 96.5px, 0px); */
  background-image: url(https://img.freepik.com/premium-vector/health-care-medical-pattern-innovation-concept-background-design-abstract-geometric-hexagons-shape-medicine-science-background-vector-illustration_230610-1447.jpg?size=626&ext=jpg&uid=R73537525&ga=GA1.2.2001423721.1662738966);
}
.formDivCss {
  width: 400px;
  height: 500px;
  border: 2px solid white;
  border-radius: 2;
  position: absolute; /*Can also be `fixed`*/
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.subformDivCss {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  text-align: center;
}
.inputCssStyle {
  padding: 8px 10px;
  border: 1px solid #00ad2d;
  position: relative;
  color: #fff;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  position: relative;
  height: 300px;
  width: 100%;
  border-radius: 10px;
  border: 2px dashed #0a58ca;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.justify-content-center {
  margin-top: 30px;
}
.fa .fa-cloud-upload {
  padding-right: 10px !important;
  padding-left: 10px !important;
  padding: 5px !important;
}
.hide_file {
  position: absolute;
  z-index: 1000;
  opacity: 0;
  cursor: pointer;
  right: 0;
  top: 0;
  height: 100%;
  font-size: 24px;
  width: 100%;
}
.progressCss {
  position: absolute;
  display: flex;
  width: 100%;
  text-align: center;
  top: 10%;
  left: 0;
  right: 0;
  justify-content: center;
}
.btnCss {
  display: flex;
  margin-top: 80px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.colcss {
  background-color: rgb(135, 160, 222);
  border-radius: 10px;
}
.btn {
  width: 70% !important;
  height: 60px !important;
  text-align: center !important;
  align-items: center !important;
  justify-content: center !important;
  display: flex;
}
.btncss {
  width: 100% !important;
  margin-top: 40px !important;
}
.bg-secondary {
  background-color: transparent !important;
}
.card {
  border: 0;
}
.shadow {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.15) !important;
}

.text-muted {
  color: aliceblue !important;
}

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.loginFormcss {
  height: 100% !important;
 /* background-color: rebeccapurple;*/
 background-image: url(https://img.freepik.com/premium-vector/health-care-medical-pattern-innovation-concept-background-design-abstract-geometric-hexagons-shape-medicine-science-background-vector-illustration_230610-1447.jpg?size=626&ext=jpg&uid=R73537525&ga=GA1.2.2001423721.1662738966);
  display: flex;
  align-items: center;
}
.justify-content-center {
  margin-top: 0px !important;
}
.wel-text-color {
  color: #0023ad !important;
}
